* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  /* Set font size for easy rem calculations */
  font-size: 62.5%;
  scroll-behavior: smooth;
  background: black;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

@font-face {
  font-family: "Matrix";
  src: url('./fonts/Matrix-MZ4P.ttf');
}

body {
  font-size: 1.8rem;
  color: #0F0;
}
 
/* Nav */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  border-bottom: solid 2px #0F0;
  z-index: 1;
  margin-bottom: 0;
  }

  .nav-list {
    display: flex;
    margin-right: 2rem;
  }

  .nav-list a {
    display: block;
    font-size: 2rem;
    padding: 2rem;
    color: #0F0;
  }

ul {
    list-style-type: none;
  }

a {
    text-decoration: none;
    color: #0F0;
  }

  /* Welcome section */

  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    margin-top: 6rem;
    padding-top: 0;
    z-index: 10;
  }

  .welcome-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
  }

  @media (max-width: 28.75em) {
    .welcome-about {
      padding-top: 18rem;
    }
  }

  .welcome-box {
    position: relative;
    text-align: center;
    font-family: MATRIX , sans-serif;
    letter-spacing: 0.3rem;
    color: #0F0;
    background-color: black;
    border: solid 2px #0F0;
    margin: 0;
    padding: 3rem;
    font-size: 3rem;
    border-radius: 100%;
    height: 30rem;
    width: 30rem;
  }

  .about {
    position: relative;
    width: 30vw;
    height: 15vh;
    margin: 3rem;
    padding: 2rem;
    text-align: justify;
    line-height: 1.3;
    background-color: black;
    border: solid 2px #0F0;
    width: 30rem;
    height: 22rem;
  }

  p#name {
    font-size: 2.5rem;
    margin: 0.5rem;
    text-align: center;
  }

  canvas {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin-top: 0;
    padding-top: 0;
    z-index: -1;
  }

  /* Work section */

  .projects {
    width: 100%;
    height: 100vh;
    padding-top: 20vh;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  .projects-grid p {
    text-align: center;
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: black;
    border: solid 1px #0F0;
  }

  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }

  /* Contact section */

  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    margin-top: 35rem;
  }

  .contact-container {
    border: solid 1px #0F0;
    background-color: black;
    padding-top: 1.5rem;
    margin-bottom: 15rem;
  }

  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
  }

  .btn {
    display: inline-block;
    padding: 2rem 2rem;
    border-radius: 2px;
  }
